.background-technology{
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.technology-p{
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: 25px;
  margin-left: 10px;
}
.technology-btn-div{
  position: absolute;
  right: 85%;
  top: 40%;
}
.technology-btn{
  background: transparent;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 80px;
  height: 80px;
  font-size: 28px;
  cursor: pointer;
align-items: center;
  justify-content: center;
}
.technology-btn:hover{
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.technology-img{
  position: absolute;
  z-index: 1;
  right: 0;}

.main-technology-div{
  position: absolute;
  bottom: 35%;
  margin-left: 15%;

}
.main-technology-div h2{
  color: gray;
  font-size: 50px;
  font-weight: 400;
  line-height: 36.67px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;

}
.main-technology-div p{
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-blue-300, #D0D6F9);
  font-size: 20px;
  margin-top: 20px;
}

h1{
  font-size: 90px;
  font-weight: 400;
  line-height: 64.18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}